In [0]:
def fun(s,g):
  print(s+g)

In [3]:
fun(3,5)

8

In [0]:
def great(a,b,c):
  print(max(a,b,c))

In [5]:
great(2,4,5)

5

In [8]:
a=[3,5,7,9]
a[::-1]

[9, 7, 5, 3]

In [0]:
def fib(n):
  var1=1
  print(var1)
  var2=1
  print(var2)
  next=0
  for i in range(n):
    next=var1+var2
    print(next)
    var1=var2
    var2=next

In [15]:
fib(5)

1
1
2
3
5
8
13

In [0]:
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      import numpy as np

In [0]:
import numpy as np
v=np.array([1,3,5])

In [18]:
v

array([1, 3, 5])

In [37]:
import random
np.random.randint(1,5,5)
a=np.random.randint(1,6,size=(3,3))
b=np.random.uniform(1,6,size=(3,3))
a

array([[1, 3, 5],
       [2, 2, 2],
       [5, 4, 1]])

In [38]:
b

array([[2.65365055, 4.50928207, 2.1784591 ],
       [3.00410186, 2.11747551, 4.15668488],
       [4.62600321, 1.17036639, 2.65547419]])

In [39]:
np.dot(a,b)

array([[34.7959722 , 16.71354054, 27.92588469],
       [20.56751125, 15.59424794, 17.98123634],
       [29.91066342, 32.18667879, 30.17450922]])

In [40]:
np.cross(a,b)

array([[-16.01103306,  11.08979366,  -3.45166958],
       [  4.07841874,  -2.30516603,  -1.77325271],
       [  9.45153037,  -8.65136773, -12.65218091]])

In [41]:
np.add(a,b)

array([[3.65365055, 7.50928207, 7.1784591 ],
       [5.00410186, 4.11747551, 6.15668488],
       [9.62600321, 5.17036639, 3.65547419]])

In [80]:
import pandas as pd
data=pd.read_csv("iris.csv")
data.head()

   sepal length in cm  sepal width in cm  ...  petal width in cm        class
0                 5.1                3.5  ...                0.2  Iris-setosa
1                 4.9                3.0  ...                0.2  Iris-setosa
2                 4.7                3.2  ...                0.2  Iris-setosa
3                 4.6                3.1  ...                0.2  Iris-setosa
4                 5.0                3.6  ...                0.2  Iris-setosa

[5 rows x 5 columns]

In [53]:
pd.isnull(data)

     sepal length in cm  sepal width in cm  ...  petal width in cm  class
0                 False              False  ...              False  False
1                 False              False  ...              False  False
2                 False              False  ...              False  False
3                 False              False  ...              False  False
4                 False              False  ...              False  False
5                 False              False  ...              False  False
6                 False              False  ...              False  False
7                 False              False  ...              False  False
8                 False              False  ...              False  False
9                 False              False  ...              False  False
10                False              False  ...              False  False
11                False              False  ...              False  False
12                False              False  ...              False  False
13                False              False  ...              False  False
14                False              False  ...              False  False
15                False              False  ...              False  False
16                False              False  ...              False  False
17                False              False  ...              False  False
18                False              False  ...              False  False
19                False              False  ...              False  False
20                False              False  ...              False  False
21                False              False  ...              False  False
22                False              False  ...              False  False
23                False              False  ...              False  False
24                False              False  ...              False  False
25                False              False  ...              False  False
26                False              False  ...              False  False
27                False              False  ...              False  False
28                False              False  ...              False  False
29                False              False  ...              False  False
..                  ...                ...  ...                ...    ...
120               False              False  ...              False  False
121               False              False  ...              False  False
122               False              False  ...              False  False
123               False              False  ...              False  False
124               False              False  ...              False  False
125               False              False  ...              False  False
126               False              False  ...              False  False
127               False              False  ...              False  False
128               False              False  ...              False  False
129               False              False  ...              False  False
130               False              False  ...              False  False
131               False              False  ...              False  False
132               False              False  ...              False  False
133               False              False  ...              False  False
134               False              False  ...              False  False
135               False              False  ...              False  False
136               False              False  ...              False  False
137               False              False  ...              False  False
138               False              False  ...              False  False
139               False              False  ...              False  False
140               False              False  ...              False  False
141               False              False  ...              False  False
142               False              False  ...              False  False
143               False              False  ...              False  False
144               False              False  ...              False  False
145               False              False  ...              False  False
146               False              False  ...              False  False
147               False              False  ...              False  False
148               False              False  ...              False  False
149               False              False  ...              False  False

[150 rows x 5 columns]

In [0]:
data1=pd.read_csv("pima-indians-diabetes.csv",header=None)

In [63]:
data1.isnull()
data1.dropna()
data1.fillna(0)

      0    1   2   3    4     5      6   7  8
0     6  148  72  35    0  33.6  0.627  50  1
1     1   85  66  29    0  26.6  0.351  31  0
2     8  183  64   0    0  23.3  0.672  32  1
3     1   89  66  23   94  28.1  0.167  21  0
4     0  137  40  35  168  43.1  2.288  33  1
5     5  116  74   0    0  25.6  0.201  30  0
6     3   78  50  32   88  31.0  0.248  26  1
7    10  115   0   0    0  35.3  0.134  29  0
8     2  197  70  45  543  30.5  0.158  53  1
9     8  125  96   0    0   0.0  0.232  54  1
10    4  110  92   0    0  37.6  0.191  30  0
11   10  168  74   0    0  38.0  0.537  34  1
12   10  139  80   0    0  27.1  1.441  57  0
13    1  189  60  23  846  30.1  0.398  59  1
14    5  166  72  19  175  25.8  0.587  51  1
15    7  100   0   0    0  30.0  0.484  32  1
16    0  118  84  47  230  45.8  0.551  31  1
17    7  107  74   0    0  29.6  0.254  31  1
18    1  103  30  38   83  43.3  0.183  33  0
19    1  115  70  30   96  34.6  0.529  32  1
20    3  126  88  41  235  39.3  0.704  27  0
21    8   99  84   0    0  35.4  0.388  50  0
22    7  196  90   0    0  39.8  0.451  41  1
23    9  119  80  35    0  29.0  0.263  29  1
24   11  143  94  33  146  36.6  0.254  51  1
25   10  125  70  26  115  31.1  0.205  41  1
26    7  147  76   0    0  39.4  0.257  43  1
27    1   97  66  15  140  23.2  0.487  22  0
28   13  145  82  19  110  22.2  0.245  57  0
29    5  117  92   0    0  34.1  0.337  38  0
..   ..  ...  ..  ..  ...   ...    ...  .. ..
738   2   99  60  17  160  36.6  0.453  21  0
739   1  102  74   0    0  39.5  0.293  42  1
740  11  120  80  37  150  42.3  0.785  48  1
741   3  102  44  20   94  30.8  0.400  26  0
742   1  109  58  18  116  28.5  0.219  22  0
743   9  140  94   0    0  32.7  0.734  45  1
744  13  153  88  37  140  40.6  1.174  39  0
745  12  100  84  33  105  30.0  0.488  46  0
746   1  147  94  41    0  49.3  0.358  27  1
747   1   81  74  41   57  46.3  1.096  32  0
748   3  187  70  22  200  36.4  0.408  36  1
749   6  162  62   0    0  24.3  0.178  50  1
750   4  136  70   0    0  31.2  1.182  22  1
751   1  121  78  39   74  39.0  0.261  28  0
752   3  108  62  24    0  26.0  0.223  25  0
753   0  181  88  44  510  43.3  0.222  26  1
754   8  154  78  32    0  32.4  0.443  45  1
755   1  128  88  39  110  36.5  1.057  37  1
756   7  137  90  41    0  32.0  0.391  39  0
757   0  123  72   0    0  36.3  0.258  52  1
758   1  106  76   0    0  37.5  0.197  26  0
759   6  190  92   0    0  35.5  0.278  66  1
760   2   88  58  26   16  28.4  0.766  22  0
761   9  170  74  31    0  44.0  0.403  43  1
762   9   89  62   0    0  22.5  0.142  33  0
763  10  101  76  48  180  32.9  0.171  63  0
764   2  122  70  27    0  36.8  0.340  27  0
765   5  121  72  23  112  26.2  0.245  30  0
766   1  126  60   0    0  30.1  0.349  47  1
767   1   93  70  31    0  30.4  0.315  23  0

[768 rows x 9 columns]

In [0]:
from numpy import nan as NA
data2 = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA],
[NA, NA, NA], [NA, 6.5, 3.]])

In [93]:
data2.fillna({0:data2[0].mean()})

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  1.0  NaN  NaN
3  1.0  6.5  3.0

In [94]:
data2

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [96]:
data2[0]

0    1.0
1    1.0
2    NaN
3    NaN
Name: 0, dtype: float64

In [82]:
data.iloc[1:3]

   sepal length in cm  sepal width in cm  ...  petal width in cm        class
1                 4.9                3.0  ...                0.2  Iris-setosa
2                 4.7                3.2  ...                0.2  Iris-setosa

[2 rows x 5 columns]

In [102]:
data.iloc[:,3].idxmax()

100

In [81]:
data.head()

   sepal length in cm  sepal width in cm  ...  petal width in cm        class
0                 5.1                3.5  ...                0.2  Iris-setosa
1                 4.9                3.0  ...                0.2  Iris-setosa
2                 4.7                3.2  ...                0.2  Iris-setosa
3                 4.6                3.1  ...                0.2  Iris-setosa
4                 5.0                3.6  ...                0.2  Iris-setosa

[5 rows x 5 columns]

In [83]:
data.iloc[1:3,2:5]

   petal length in cm  petal width in cm        class
1                 1.4                0.2  Iris-setosa
2                 1.3                0.2  Iris-setosa

In [90]:
data.loc[1:5,"class"]

1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
5    Iris-setosa
Name: class, dtype: object

In [111]:
data2.dropna(thresh=2,axis=1)

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [0]:
df = pd.DataFrame(np.random.randn(7, 3))

In [113]:
df

          0         1         2
0  0.238643 -0.014758 -0.839130
1  1.526119  0.094531  0.424690
2  0.960619 -0.967647  0.146597
3 -0.482402 -0.272040 -1.427287
4 -0.573327 -0.255649  0.104939
5  0.319830 -0.409117  0.403450
6 -0.595490 -0.974513 -1.626078

In [0]:
df2 = pd.DataFrame(np.random.randn(7, 3))

In [115]:
df2

          0         1         2
0 -0.904143 -0.877968 -0.098663
1  1.620566  0.656023 -1.751115
2  0.362914 -1.502815  0.244640
3 -0.807777 -0.667967  0.676018
4 -0.415122  0.081635  0.565456
5 -0.949362  1.662386  1.068989
6  1.224716 -0.897010  0.477239

In [123]:
pd.concat((df,df2),axis=1,ignore_index=True)

          0         1         2         3         4         5
0  0.238643 -0.014758 -0.839130 -0.904143 -0.877968 -0.098663
1  1.526119  0.094531  0.424690  1.620566  0.656023 -1.751115
2  0.960619 -0.967647  0.146597  0.362914 -1.502815  0.244640
3 -0.482402 -0.272040 -1.427287 -0.807777 -0.667967  0.676018
4 -0.573327 -0.255649  0.104939 -0.415122  0.081635  0.565456
5  0.319830 -0.409117  0.403450 -0.949362  1.662386  1.068989
6 -0.595490 -0.974513 -1.626078  1.224716 -0.897010  0.477239

In [121]:
pd.concat((df,df2),ignore_index=True)

           0         1         2
0   0.238643 -0.014758 -0.839130
1   1.526119  0.094531  0.424690
2   0.960619 -0.967647  0.146597
3  -0.482402 -0.272040 -1.427287
4  -0.573327 -0.255649  0.104939
5   0.319830 -0.409117  0.403450
6  -0.595490 -0.974513 -1.626078
7  -0.904143 -0.877968 -0.098663
8   1.620566  0.656023 -1.751115
9   0.362914 -1.502815  0.244640
10 -0.807777 -0.667967  0.676018
11 -0.415122  0.081635  0.565456
12 -0.949362  1.662386  1.068989
13  1.224716 -0.897010  0.477239